.activitiesContainer {
  height: 80vh;
  /* background-colo
  r: aqua; */
}

.imageActivitiesContainer {
  /* flex-direction: row; */
  display: flex;
  border-radius: 20px;
}
.activities {
  border-radius: 20px;
  height: 50vh;
  width: 90vw;
  margin: 20px;
  animation-duration: 10s;
  animation-name: caroussel;
  animation-iteration-count: infinite;
  /* overflow: hidden; */
}
@keyframes caroussel {
  0% {
    transform: translateX(0);
  }
  25% {
    /* transform: translateX(-10vw); */
  }
  50% {
    /* transform: translateX(-20vw); */
  }
  75% {
    /* transform: translateX(-30vw); */
  }
  100% {
    transform: translateX(-100vw);
  }
}

@media screen and (min-width: 1000px) {
  .activitiesContainer {
    /* width: 50%; */
    padding: 0% 8%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  .textActivitiesContainer {
    width: 50vw;
    padding: 0 20px;
  }
  .imageActivitiesContainer {
    width: 50vw;
    overflow: auto;
  }
  .activities {
    /* height: 50vh; */
    min-width: 40vw;
    /* width: 40vw; */
    animation-duration: 15s;
  }
  @keyframes caroussel {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-40vw);
    }
    40% {
      transform: translateX(-80vw);
    }
    60% {
      transform: translateX(-120vw);
    }
    80% {
      transform: translateX(-160vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
